 .navbar ul {
        list-style-type: none;
        background-color: #ffffff;
        background-blend-mode: lighten;
        padding:20px;
        text-align: right; 

 }
     .navbar a{
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
     }
     .navbar li{
        display:inline;
        margin-right: 5px;
        padding: 10px;
     }

