
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*NAVBAR*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  z-index: 10;
  box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);

 
  border-bottom: none;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1) inset;
}

.logo {
  display: flex;
  align-items: left;
  gap: 10px;

}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding-left: 0px;
  margin-left: 0px;
  border: solid #fece05 3px;
}

.logo h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}


.navbar ul {
  display: flex;
  list-style: none;
  gap: 3px;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}

.navbar li {
  display: inline-block;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 8px 16px;
  transition: color 0.3s ease;
  border-radius: 50px; 
  overflow: hidden;
  z-index: 1;
}

.navbar a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00a8e0; 
  border-radius: 50px;
  transform: scale(0); 
  transition: transform 0.3s ease;
  z-index: -1;
}

.navbar a:hover::before {
  transform: scale(1); 
}

.navbar a:hover {
  color: #fff; 
}

/*FOOTER*/

.site-footer {
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
  text-align: center;
  padding: -20px 20px 40px 20px;
  margin-top: 0px;
  color:#fff;
  font-weight: 400;
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
  position: relative;
  z-index: 10;


}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-bottom: 10px;
  margin-top: -px; 
}

.footer-icon {
  position: relative;
  display: inline-block;
  width: 25px;  
  height: 25px;
  text-align: center; 
  margin-top: 10px;
}

.footer-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s;
}

.footer-icon:hover img {
  transform: scale(1.2);
}

.footer-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 110%; 
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}

.footer-icon:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-3px); 
}