 
   * {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  z-index: 10;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);

 
  border-bottom: none;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1) inset;
}

.logo {
  display: flex;
  align-items: left;
  gap: 10px;

}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding-left: 0px;
  margin-left: 0px;
  border: solid #fece05 3px;
}

.logo h2 {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}


.navbar ul {
  display: flex;
  list-style: none;
  gap: 3px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 8px 16px;
  transition: color 0.3s ease;
  border-radius: 50px; 
  overflow: hidden;
  z-index: 1;
}

.navbar a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ed3241; 
  border-radius: 50px;
  transform: scale(0); 
  transition: transform 0.3s ease;
  z-index: -1;
}

.navbar a:hover::before {
  transform: scale(1); 
}

.navbar a:hover {
  color: #fff; 
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vh;
  object-fit: cover;
  z-index: -1;
  background-attachment: fixed;
}

.dim {
  position:fixed;
  background: rgba(0, 0,0, 0.7);
  inset: 0;
  z-index: 0;
  pointer-events: none;

}
.hero-content {
  position: relative;
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.hero-image {
  width: 700px; 
  height: auto;
  padding-bottom: 50px;
}

.intro-section {
  position: relative;
  width: 100%;
  padding: 120px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("INTRO_SEC.jpg") center/cover no-repeat;

  box-sizing: border-box;
}


.intro-glass {
  width: 100%;
  max-width: 1200px;      
  padding: 40px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);

  display: flex;          
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;               

  color: white;
}


.intro-side-image {
  width: 420px;            
  height: auto;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 10px 40px rgba(0,0,0,0.25);
}


.intro-text {
  flex: 1;                
}


.intro-text h1 {
  font-family: "Bebas Neue", sans-serif;
  margin: 0px;
  font-size: 75px;
  color: #fece05;
  padding-bottom: 0;
}

.intro-text p {
  font-family: sans-serif;
  margin: 0;
  font-size: 17px;
  line-height: 1.6;
}