 .navbar ul {
        list-style-type: none;
        background-color: white;
        color: rgb(255, 208, 0);
        padding:20px;
        text-align: right;

 }
     .navbar a{
        color: rgb(255, 208, 0);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
     }
     .navbar li{
        display:inline;
        margin-right: 5px;
        padding: 10px;
     }