 
   * 
{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background: #00a7e0;
  z-index: 1000;
  box-sizing: border-box;
}


.logo {
  display: flex;
  align-items: left;
  gap: 10px;

}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding-left: 0px;
  margin-left: 0px;
  border: solid #fece05 3px;
}

.logo h2 {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}


.navbar ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 8px 16px;
  transition: color 0.3s ease;
  border-radius: 50px; 
  overflow: hidden;
  z-index: 1;
}

.navbar a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ed3241; 
  border-radius: 50px;
  transform: scale(0); 
  transition: transform 0.3s ease;
  z-index: -1;
}

.navbar a:hover::before {
  transform: scale(1); 
}

.navbar a:hover {
  color: #fff; 
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.hero-image {
  width: 800px; 
  height: auto;
}




