body {
    background: #00a8e0;
}

/*HERO SECTION*/

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vh;
  object-fit: cover;
  z-index: -1;
  background-attachment: fixed;
}

.dim {
  position:fixed;
  background: rgba(0, 0,0, 0.7);
  inset: 0;
  z-index: 0;
  pointer-events: none;

}
.hero-content {
  position: relative;
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.hero-image {
  width: 700px; 
  height: auto;
  padding-bottom: 50px;
}

/*INTRODUCTION SECTION*/

.intro-section {
  position: relative;
  width: 100%;
  padding: 120px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6)
    ),
    url("INTRO_SEC.jpg") center/cover no-repeat;

  box-sizing: border-box;
}


.intro-card {
  width: 100%;
  max-width: 1200px;      
  padding: 40px;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);

  display: flex;          
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;               

  color: white;
}


.intro-side-image {
  width: 420px;            
  height: auto;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 10px 40px rgba(0,0,0,0.25);
}


.intro-text {
  flex: 1;                
}


.intro-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  font-size: 75px;
  color: #fece05;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
  padding-bottom: 0;
}

.intro-text p {

  font-family: sans-serif;
  margin: 0;
  font-size: 17px;
  line-height: 1.6;
}

/* GALLERY SECTION */
.gallery {
  position: relative;
  text-align: center;
  padding: 5px 20px 60px 20px; 
  background-color: #00a8e0;
  height: 100%;
}

.gallery * {
  position: relative;
  z-index: 1; 
}
.gallery-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  padding-top: -10px;
  margin-bottom: 25px;
  color: #fece05; 
  text-shadow: 4px 4px 8px rgba(0,0,0,0.6)
}

/* GRID LAYOUT */
.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  flex: 1 1 calc(33.333% - 20px);
  max-width: 300px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* OVERLAY TEXT */
.overlay {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: #fece05;
  font: 45px;
  padding: 15px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s;
}

.gallery-item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}


